body {
  font-family: "Crimson Text", "Times New Roman", serif;
  background-color: #f2fffc;
  line-height: 1.5;
}
main a {
  color: #851944;
}
h1 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  text-align: center;
}
.titulo-pagina {
  background-color: #851944;
  color: #fafffa;
  padding: 25px;
  margin: 0;
  font-size: 60px;
  border-bottom: 10px solid #000;
  text-transform: uppercase;
}
main {
    float: left;
    width: 85%;
}
main h2 {
  font-size: 30px;
  clear: both;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.container {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  padding-bottom: 80px;
}
main footer {
  background-color: inherit;
  color: inherit;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
article {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
.citacao {
  background-color: #d9e5e3;
  width: 250px;
  box-sizing: border-box;
  margin: 20px 40px;
  border: 10px solid #c2ccca;
}
cite {
    font-style: italic;
    float: right;
}
.fiat {
    float: right;
}
.petrobras {
    float: left;
}
p {
  text-align: justify;
  margin: 20px 0;
}
.navegacao-site {
  background-color: #3c1d3d;
  color: #f2fffc;
  text-align: center;
  padding: 20px;
  float: right;
  width: 15%;
  position: relative;
  top: 310px;
}
.navegacao-site h1 {
  font-size: 30px;
  margin-bottom: 25px;
}
.navegacao-site li {
  list-style: none;
  text-transform: lowercase;
}
.icones-sociais li {
  display: inline-block;
}
.icones-sociais a {
    width: 40px;
    height: 40px;
    display: inline-block;
}
.icones-sociais span {
    display: none;
}
.github {
    background-image: url(../img/github.png);
}
.twitter {
    background-image: url(../img/twitter.png);
}
.linkedin {
    background-image: url(../img/linkedin.png);
}
.sociais-rodape {
  margin: 60px;
}
.navegacao-site a {
  color: inherit;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}
.foto, .navegacao-site {
    float: right;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
    box-sizing: border-box;
}
.foto {
    position: absolute;
    top: 0px;
    right: 0px;
}
.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}
footer {
  background-color: #000000;
  color: #f2fffc;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 10px;
}
