body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}
main a {
    color: #851944;
}
main h1 {
  background-color: #851944;
  font-family: "Open Sans Condensed", "Arial", sans-serif;
  color: #FAFFFA;
  text-align: center;
}
main footer {
    background-color: inherit;
    color: inherit;
}
blockquote {
    background-color: #D9E5E3;
}
p {
    text-align: justify;
}
aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
}
aside a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
footer {
    background-color: #000000;
    color: #F2FFFC;
}